<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ackermann_robot">
    <xacro:include filename="$(find ackermann_vehicle_description)/urdf/mobile_base.xacro" />

    <xacro:arg name="robot_parameters_file" default="$(find ackermann_vehicle_description)/config/params.yaml"/>

    <xacro:ackermann_robot 
        robot_parameters_file="$(arg robot_parameters_file)"
    />

    <xacro:include filename="$(find ackermann_vehicle_description)/urdf/mobile_base_gazebo.xacro" />
</robot>