<?xml version="1.0"?>
<robot name="QCar" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_sim" default="false" />

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find qcar_description)/urdf/qcar_ros2.urdf.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find qcar_description)/urdf/qcar.gazebo.xacro" />

  <xacro:QCar parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:QCar>

  <!-- <xacro:QCar_control name="QCar" prefix="$(arg prefix)"/> -->
</robot>
