<?xml version="1.0"?>
<robot name="QCar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="max_steering_angle" value="0.3"/>
  <xacro:property name="axle_vel_limit" value="244.8696"/>

  <link name="camera_rgb_optical_link"/>
  <joint name="camera_rgb_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_rgb"/>
    <child link="camera_rgb_optical_link"/>
  </joint>
<!-- Define all the computer vision sernsor properties -->
	<gazebo reference="camera_rgb">
    <!-- <material>Gazebo/Green</material> -->
    <sensor type="camera" name="intelrealsense_rgb">
      <always_on>1</always_on>
      <update_rate>60.0</update_rate>
      <visualize>true</visualize>
      <topic>qcar/rgb/image_raw</topic>
      <camera name="rgb">
        <horizontal_fov>1.21126</horizontal_fov>
        <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
        </image>
        <clip>
            <near>0.02</near>
            <far>300</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
        </noise>
        <distortion>
          <k1>0.0</k1>
          <k2>0.0</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
        </distortion>
        <optical_frame_id>camera_rgb_optical_link</optical_frame_id>
        <camera_info_topic>qcar/rgb/camera_info</camera_info_topic>
      </camera>
    </sensor>
  </gazebo>
  
  <link name="camera_csi_front_optical_link"/>
  <joint name="camera_csi_front_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_csi_front"/>
    <child link="camera_csi_front_optical_link"/>
  </joint>
<!-- Define all the computer vision sernsor properties -->
	<gazebo reference="camera_csi_front">
    <!-- <material>Gazebo/Green</material> -->
    <sensor type="camera" name="csi_front">
      <always_on>1</always_on>
      <update_rate>60.0</update_rate>
      <visualize>true</visualize>
      <topic>qcar/csi_front/image_raw</topic>
      <camera name="front">
        <horizontal_fov>2.79253</horizontal_fov>
        <image>
            <width>1280</width>
            <height>640</height>
            <format>R8G8B8</format>
        </image>
        <clip>
            <near>0.02</near>
            <far>300</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
        </noise>
        <distortion>
          <k1>-0.264598808</k1>
          <k2>0.0156281135</k2>
          <k3>0.0822019378</k3>
          <p1>0.0000652954</p1>
          <p2>0.0053984313</p2>
        </distortion>
        <optical_frame_id>camera_csi_front_optical_link</optical_frame_id>
        <camera_info_topic>qcar/csi_front/camera_info</camera_info_topic>
      </camera>
    </sensor>
  </gazebo>

  <link name="camera_csi_right_optical_link"/>
  <joint name="camera_csi_right_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_csi_right"/>
    <child link="camera_csi_right_optical_link"/>
  </joint>
<!-- Define all the computer vision sernsor properties -->
	<gazebo reference="camera_csi_right">
    <!-- <material>Gazebo/Green</material> -->
    <sensor type="camera" name="csi_right">
      <always_on>1</always_on>
      <update_rate>60.0</update_rate>
      <visualize>true</visualize>
      <topic>qcar/csi_right/image_raw</topic>
      <camera name="right">
        <horizontal_fov>2.79253</horizontal_fov>
        <image>
            <width>1280</width>
            <height>640</height>
            <format>R8G8B8</format>
        </image>
        <clip>
            <near>0.02</near>
            <far>300</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
        </noise>
        <distortion>
          <k1>-0.264598808</k1>
          <k2>0.0156281135</k2>
          <k3>0.0822019378</k3>
          <p1>0.0000652954</p1>
          <p2>0.0053984313</p2>
        </distortion>
        <optical_frame_id>camera_csi_right_optical_link</optical_frame_id>
        <camera_info_topic>qcar/csi_right/camera_info</camera_info_topic>
      </camera>
    </sensor>
  </gazebo>

  <link name="camera_csi_left_optical_link"/>
  <joint name="camera_csi_left_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_csi_left"/>
    <child link="camera_csi_left_optical_link"/>
  </joint>
<!-- Define all the computer vision sernsor properties -->
	<gazebo reference="camera_csi_left">
    <!-- <material>Gazebo/Green</material> -->
    <sensor type="camera" name="csi_left">
      <always_on>1</always_on>
      <update_rate>60.0</update_rate>
      <visualize>true</visualize>
      <topic>qcar/csi_left/image_raw</topic>
      <camera name="front">
        <horizontal_fov>2.79253</horizontal_fov>
        <image>
            <width>1280</width>
            <height>640</height>
            <format>R8G8B8</format>
        </image>
        <clip>
            <near>0.02</near>
            <far>300</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
        </noise>
        <distortion>
          <k1>-0.264598808</k1>
          <k2>0.0156281135</k2>
          <k3>0.0822019378</k3>
          <p1>0.0000652954</p1>
          <p2>0.0053984313</p2>
        </distortion>
        <optical_frame_id>camera_csi_left_optical_link</optical_frame_id>
        <camera_info_topic>qcar/csi_left/camera_info</camera_info_topic>
      </camera>
    </sensor>
  </gazebo>

  <link name="camera_csi_back_optical_link"/>
  <joint name="camera_csi_back_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="camera_csi_back"/>
    <child link="camera_csi_back_optical_link"/>
  </joint>
<!-- Define all the computer vision sernsor properties -->
	<gazebo reference="camera_csi_back">
    <!-- <material>Gazebo/Green</material> -->
    <sensor type="camera" name="csi_back">
      <always_on>1</always_on>
      <update_rate>60.0</update_rate>
      <visualize>true</visualize>
      <topic>qcar/csi_back/image_raw</topic>
      <camera name="front">
        <horizontal_fov>2.79253</horizontal_fov>
        <image>
            <width>1280</width>
            <height>640</height>
            <format>R8G8B8</format>
        </image>
        <clip>
            <near>0.02</near>
            <far>300</far>
        </clip>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
        </noise>
        <distortion>
          <k1>-0.264598808</k1>
          <k2>0.0156281135</k2>
          <k3>0.0822019378</k3>
          <p1>0.0000652954</p1>
          <p2>0.0053984313</p2>
        </distortion>
        <optical_frame_id>camera_csi_back_optical_link</optical_frame_id>
        <camera_info_topic>qcar/csi_back/camera_info</camera_info_topic>
      </camera>
    </sensor>
  </gazebo>

  <!-- Gazebo Parameters -->
    <gazebo reference="base">
      <mu1>0.0001</mu1>
      <mu2>0.0001</mu2>
    </gazebo>

    <gazebo reference="right_front_wheel">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
    </gazebo>

    <gazebo reference="left_front_wheel">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
    </gazebo>
      
    <gazebo reference="right_rear_wheel">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
    </gazebo>

    <gazebo reference="left_rear_wheel">
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
    </gazebo>

  <!-- Gazebo Control -->
  <ros2_control name="control" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
          
    <joint name="left_steering_joint">
      <command_interface name="position">
        <param name="min">${-max_steering_angle}</param>
        <param name="max">${max_steering_angle}</param>
      </command_interface>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_steering_joint">
      <param name="mimic">left_steering_joint</param> <!-- Command this joint -->
      <param name="multiplier">1</param> <!-- Move in the opposite direction -->

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_front_axle">
      <command_interface name="velocity">
        <param name="min">${-axle_vel_limit}</param>
        <param name="max">${axle_vel_limit}</param>
      </command_interface>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="left_front_axle">
      <param name="mimic">right_front_axle</param> <!-- Command this joint -->
      <param name="multiplier">-1</param> <!-- Move in the opposite direction -->

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_rear_axle">
      <command_interface name="velocity">
        <param name="min">${-axle_vel_limit}</param>
        <param name="max">${axle_vel_limit}</param>
      </command_interface>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="left_rear_axle">
      <command_interface name="velocity">
        <param name="min">${-axle_vel_limit}</param>
        <param name="max">${axle_vel_limit}</param>
      </command_interface>

      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <topic>joint_states</topic>
      <joint_name>left_steering_joint</joint_name>
      <joint_name>right_steering_joint</joint_name>
      <joint_name>left_front_axle</joint_name>
      <joint_name>right_front_axle</joint_name>
      <joint_name>left_rear_axle</joint_name>
      <joint_name>right_rear_axle</joint_name>
    </plugin>

    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find qcar_gazebo)/config/gz_ros2_control.yaml</parameters>
    </plugin>

    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>
 
</robot>